# The default root path for Ansible config files on the controller
.ansible/

# Retry files generated for failed Ansible playbook runs
*.retry

# Python stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
