---
extends: default
ignore: |
  galaxy.yml

rules:
  line-length: disable
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  colons:
    max-spaces-before: -1
    max-spaces-after: 1
skip_list:
  - meta-runtime[unsupported-version]